.yellow {
  background-color: yellow;
  height: 300px;
}

.bordo {
  background-color: #A52A2A;
  height: 300px;
}

.blue {
  background-color: #0000FF;
  height: 300px;
}

.red {
  background-color: #FF0000;
  height: 300px;
}

.white {
  
}