.wrapper {
  border:15px solid #4682B4;
  border-bottom: 200px solid #4682B4;
  margin:40px ;
  padding:30px;
}

header img  {
  width: 300px ;
  height: 300px ;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
}

#summery {
  margin: 22px;
  font-size: 20px;
  font-weight: bold;
  color: #4682B4  
}

footer {
  text-align:  center;
}

h1 {
  color: #4682B4;
  text-align:  center;
}

h2 {
  color: white;
  padding: 20px; 
  margin: 20px;
  background-color:  #4682B4;
}

h3 {
  text-align: center;
}

body {
background-color: white;
}

.email {
  text-align: center;
  font-size: 35px;
  padding: 25px ; 
  border: 3px solid black
}